.serial {
  .breadcrumbs {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background-color: #3c546c;

    span {
      margin: 0 10px;
    }

    a {
      color: #fff;
      text-decoration: none;
      transition-duration: .3s;

      &:hover {
        color: #6c98c3;
      }
    }
  }

  .mobile-button {
    display: none;
  }

  .logo {
    display: block;
    width: 100%;
  }

  .mini-footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 15px;
    background-color: #3c546c;
  }

  .all-seasons {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

    h2 {
      padding: 5px 20px;
      font-family: "Exo 2";
      font-size: 20px;
      text-transform: uppercase;
      color: #666;
      border-bottom: 1px solid #ccc;
    }

    div {
      display: flex;
      flex-wrap: wrap;
    }

    .select-season-button {
      margin: 10px 15px;
      padding: 10px 15px;
      font-family: "Exo 2";
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #666;
      border: 1px solid #ccc;
    }
  }

  .seasons {
    margin-top: 20px;
  }

  .season {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

    & > .title {
      padding: 5px 20px;
      font-family: "Exo 2";
      font-size: 20px;
      text-transform: uppercase;
      color: #666;
      border-bottom: 1px solid #ccc;
    }
  }

  .series {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
  }
}

@media (max-width: 989px) {
  .serial {
    .breadcrumbs,
    .logo,
    .mini-footer {
      display: none;
    }

    .all-seasons {
      div {
        flex-direction: column;
      }
    }

    .mobile-button {
      display: block;
      width: 100%;
    }
  }
}