﻿* {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
    box-sizing: border-box;
}

html,
body,
#root,
.wrapper {
    background-color: #ededed;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 989px) {
    .wrapper {
        margin-top: 73px;
    }
}

#root {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 30px;
    width: 100%;
}
