.season .seria {
  display: flex;
  margin: 5px;
  border: 1px solid #aaa;

  img {
    display: block;
    height: 100%;
  }

  .title {
    margin-top: 5px;
    margin-left: 20px;
    font-family: "Exo 2";
    font-size: 20px;
    color: #777;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .button {
    margin: 15px;
  }
}

@media (min-width: 1750px) {
  .season .seria {
    width: 32%;
  }
}

@media (max-width: 1749px) and (min-width: 1000px) {
  .season .seria {
    width: 48%;
  }
}

@media (max-width: 1200px) {
  .season .seria {
    flex-direction: column;
    width: 100%;

    img {
      width: 100%;
    }
  }
}