.season {

  .breadcrumbs {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background-color: #3c546c;

    span {
      margin: 0 10px;
    }

    a {
      color: #fff;
      text-decoration: none;
      transition-duration: .3s;

      &:hover {
        color: #6c98c3;
      }
    }
  }

  .container {
    display: flex;
    margin-top: 20px;
    height: 600px;
  }

  .main-content {
    width: 70%;

    .player {
      width: 100% !important;
      z-index: -1;

      video {
        outline: none;
      }
    }
  }

  .side {
    flex-grow: 1;
    margin-left: 20px;
    max-width: 30%;
  }

  .block {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    &:first-child {
      margin-top: 0;
    }

    .title {
      padding: 8px 20px;
      font-size: 20px;
      font-weight: normal;
      color: #fff;
      background-color: #3c546c;
    }

    .list {
      max-height: 400px;
      overflow-y: scroll;

      &.see-also {
        max-height: none;
      }
    }

    .seria {
      padding: 10px 20px;
      font-size: 18px;
      border-bottom: 1px solid #eee;
      transition-duration: .15s;
      cursor: pointer;

      &:hover {
        background-color: #88cfff;
      }

      &.active {
        background-color: #2ecc71;
      }
    }

    .icon {
      margin-right: 10px;
    }

    .see-also-serial {
      width: 100%;

      img {
        display: block;
      }
    }

    .no-content {
      padding: 10px 20px;
      font-size: 18px;
      color: #999;
    }
  }


  @media (max-width: 1500px) {
    .container {
      flex-direction: column;
    }

    .main-content {
      width: 100%;
    }

    .side {
      max-width: none;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  @media (max-width: 989px) {
    .breadcrumbs {
      display: none;
    }
  }
}
